<!DOCTYPE html>
<html>

<head>
	<title>{% if page.title %} {{ page.title }} | {% endif %} {{ site.name }}</title>
	<link rel="stylesheet" type="text/css" href="{{site.baseurl}}/Stylesheets/style.css">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon">
	<link rel="icon" href="/images/favicon.ico" type="image/x-icon">
<head>

		<!--
		SO THIS IS WHAT IT LOOKS LIKE UNDER THE HOOD, EH? FEEL FREE TO POKE AROUND!
		I TRIED TO KEEP MY CODE CLEAN, READABLE, AND WELL COMMENTED. IF YOU HAVE ANY 
		QUESTIONS ABOUT THE CHOICES I HAVE MADE IN BUILDING THIS SITE, I'D GENUINELY
		LIKE TO HEAR THEM. ALTERNATIVELY IF YOU LIKE WHAT YOU SEE, AND WANT TO DISCUSS
		EMPLOYMENT, I'D OBVIOUSLY LOVE TO TALK ABOUT THAT AS WELL. 

		I'M MOST REACHABLE AT: MICHAEL.S.DIPPOLD AT GMAIL.COM

		THANKS FOR VISITING!
		-->

<body style="background-color: #265DCA;">
	
<div class="nav">

			
			<ul>
			<li><a href="../contact.html">Contact</a></li>
			<li><a href="../blog.html">Blog</a></li>
			<!-- 
			<li><a href="http://michaeldippold.com/projects.html">Projects</a></li>
			<li><a href="http://michaeldippold.com/about.html">About</a></li>
			-->
			<li><a href="../index.html">Home</a></li>
			</ul>
			<div class="spacer" style="clear: both;"></div>
			
			<!--
			<ul>
			<li><a href="http://michaeldippold.com/contact.html">Contact</a></li>
			<li><a href="http://michaeldippold.com/blog.html">Blog</a></li>
			
			<li><a href="http://michaeldippold.com/projects.html">Projects</a></li>
			<li><a href="http://michaeldippold.com/about.html">About</a></li>
			
			<li><a href="http://michaeldippold.com">Home</a></li>
			</ul>
			<div class="spacer" style="clear: both;"></div>
			-->
	
			
</div>


{{content}}

</body>

</html>